page-workout-play {
  $pieSize: 100px;
  $circle: 120px;
  @media (min-height: 640px) {
    .container {
      height: 100%;
      .middle-container {
        height: 50%;
        padding: 1.4rem;
        .circle {
          font-size: 12rem !important;
          height: $circle * 1.4 !important;
          width: $circle * 1.4 !important;
        }
        .timer {
          padding-top: 1.6rem !important;
          font-size: 9rem!important;
        }
      }
      .top-container {
        height: 20%;
      }
    }
  }
  @media (min-height: 730px) {
    .container {
      .middle-container {
        .animation {
          .cardio {
            font-size: 12rem !important;
          }
        }
        .timer {
          margin-top: 2rem;
        }
      }
      .total-container .box .row {
        padding: 1.4rem 0 !important;
      }
      .button-container {
        margin: 2rem 0 !important;
      }
    }
  }
  .container {
    width: 100%;
    padding: 0 1.6rem;
    $square-size: 80px;
    .top-container {
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .square {
        padding: 1.6rem;
        width: 25%;
        max-width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        background: linear-gradient(to bottom, #344673, #2F3966, rgba($color: #2B305D, $alpha: 0));
        border-radius: 20px;
        .small-font {
          color: rgba($color: white, $alpha: .4);
          white-space: nowrap;
          text-align: center;
        }
        .number {
          font-size: 2rem;
          color: white;
          .blue {
            color: map-get($map: $appColors, $key: blue);
          }
        }
      }
      .type-text {
        // text-transform: uppercase;
        font-size: 1.8rem;
        text-align: center;
        display: flex;
        align-items: center;
        color: map-get($map: $appColors, $key: green);
        &.cardio {
          color: map-get($map: $appColors, $key: tabata);
        }
        &.yoga {
          color: map-get($map: $appColors, $key: yoga);
        }
        &.rest {
          color: #EF456A;
        }
      }
    }
    .middle-container {
      text-align: center; // padding: 1.6rem;
      .animation {
        text-align: center;
        .circle {
          height: $circle * 1.2;
          width: $circle * 1.2;
          background: rgba($color: white, $alpha: .1);
          color: map-get($map: $appColors, $key: tabata);
          margin: auto;
          font-size: 8rem;
          &.freetime {
            color: white;
          }
          &.rest {
            color: #EF456A;
          }
        }
        .cardio {
          background: rgba($color: white, $alpha: .1);
          font-size: 10rem;
          color: map-get($map: $appColors, $key: tabata);
          border-radius: 40px;
          padding: 1rem 0;
          max-width: 90%;
          margin: auto;
          &.freetime {
            color: white;
          }
          &.rest {
            color: #EF456A;
          }
        }
        .yoga {
          color: map-get($map: $appColors, $key: yoga);
        }
      }
      .timer {
        color: white;
        font-size: 7rem;
        padding-top: 1rem;
      }
    }
    .total-container {
      width: 100%;
      background: linear-gradient(to bottom, #344673, #2F3966, #344673);
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center; // padding: .6rem; // height: 20%;
      margin: 1.2rem 0;
      .box {
        width: calc(100% - 1.6rem);
        .row {
          padding: .8rem 0;
        }
      }
      .line {
        height: 1px;
        width: 100%;
        background: map-get($map: $appColors, $key: blue);
        opacity: .2;
        margin: .4rem 0;
      }
      .title {
        color: white;
        padding-left: 1.6rem;
        font-size: map-get($map: $appSizes, $key: normal);
      }
      .time-container {
        display: flex;
        .icon {
          color: white;
        }
        .text {
          margin-left: .4rem;
          color: rgba($color: white, $alpha: .4);
          &.color {
            color: map-get($map: $appColors, $key: blue);
          }
        }
      }
    }
    .button-container {
      text-align: center;
      margin: 1.8rem 0;
      .btn-bottom {
        padding: 1.4rem;
        width: 60%;
        margin: auto;
      }
    }
  }
}