page-home {
  @media (min-width: 360px) {}
  @keyframes bounce {
    0%{
      transform:translate(-50%, -50%) scale(1);
    }
    25%{
      transform:translate(-50%, -50%) scale(1.2);
    }
    50%{
      transform:translate(-50%, -50%) scale(1.4);
    }
    75%{
      transform:translate(-50%, -50%) scale(1.2);
    }
    100%{
      transform:translate(-50%, -50%) scale(1);
    }
  }
  .toolbar-title-md {
    font-weight: unset;
  }
  .today {
    color: white;
    font-weight: bold;
  }
  .date {
    text-align: center;
    color: rgba($color: white, $alpha: .6);
    margin-top: .4rem;
  }
  .top {
    // max-height: 40%;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($color: map-get($map: $appColors, $key: blue), $alpha: .1);
    width: 100%;
    background: transparent;
    .animate-bar {
      width: 90%;
      max-width: 270px;
      margin: auto;
      margin-top: .6rem;
    }
    .bar {
      max-height: 30px;
      padding: .6rem .2rem;
      &.animate {}
    }
    .day-of-week {
      width: 100%;
      white-space: nowrap;
      padding: 0 1rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid rgba($color: map-get($map: $appColors, $key: blue), $alpha: .1);
      .day {
        width: 14.2857143%;
        text-align: center;
        font-size: 1.4rem;
        color: map-get($map: $appColors, $key: blue);
      }
    }
    .day-in-month {
      padding: .5rem 1rem;
      position: relative;
      .bg {
        height: 30px;
        position: absolute;
        background: linear-gradient(to left, rgba($color: #2B3560, $alpha: 0), #354875, rgba($color: #2B3560, $alpha: 0));
        top: 7px;
        left: 0;
        width: 100%;
        z-index: -1;
      }
      .day {
        width: 14.2857143%;
        text-align: center;
        color: rgba($color: white, $alpha: .6);
        padding: 2px 0;
        .circle {
          position: relative;
          &.yellow {
            box-shadow: 0 0 6px rgba($color: #FFCC00, $alpha: .53);
          }
          &.selected {
            border: 1px solid map-get($map: $appColors, $key: blue);
          }
          .bg {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            background: #FFCC00;
            opacity: .2;
            box-shadow: 0 0 6px rgba($color: #FFCC00, $alpha: .53);
            // animation: bounce 800ms ease-in-out infinite; 
          }
        }
      }
    }
  }
  .bottom {
    width: 100%;
    background: transparent;
    .exercise-container {
      padding-top: 1rem;
      padding-bottom: .4rem;
      .exercise-box {
        max-height: 50px;
        .circle {
          font-size: .8rem;
          background: rgba($color: white, $alpha: .1);
          color: map-get($map: $appColors, $key: blue);
          position: relative;
          margin: auto;
          &.yellow {
            color: map-get($map: $appColors, $key: yellow);
          }
        }
      }
    }
    .animate-bar {
      padding: 0 5vw;
      margin: auto;
      margin-top: 1.6rem;
      .bar-container {
        border-radius: 20px; // width: 100%;
        .bar {
          height: 6px;
          padding: 0; // width: 60px;
          min-width: 60px;
          width: 33.33333%;
          &.animate {
            border-radius: 20px;
            min-width: 60px;
            width: 33.33333%;
            top: 0;
          }
        }
      }
    }
  }
  .margin-top-left {
    margin: 1rem 0;
  }
  .btn-container {
    padding: 1.6rem 0;
    width: 100%;
    position: relative;
    text-align: center;
    button {
      width: 80%;
    }
  }
  .text-time {
    margin-left: .6rem;
  }
}