@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?f0vun6');
  src:  url('../assets/fonts/icomoon.eot?f0vun6#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?f0vun6') format('truetype'),
    url('../assets/fonts/icomoon.woff?f0vun6') format('woff'),
    url('../assets/fonts/icomoon.svg?f0vun6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"], [class*="workout-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin makeIcon($arg,
$val) {
  .workout-#{$arg}:before,
  .ion-ios-workout-#{$arg}:before,
  .ion-ios-workout-#{$arg}-outline:before,
  .ion-md-workout-#{$arg}:before,
  .ion-md-workout-#{$arg}-outline:before {
    content: $val;
  }
}

@include makeIcon(icon-fitness,
"\e900");
@include makeIcon(icon-c_1a,
"\e92c");
@include makeIcon(icon-c_1b,
"\e901");
@include makeIcon(icon-c_2a,
"\e902");
@include makeIcon(icon-c_2b,
"\e903");
@include makeIcon(icon-c_3a,
"\e904");
@include makeIcon(icon-c_3b,
"\e905");
@include makeIcon(icon-c_4a,
"\e959");
@include makeIcon(icon-c_4b,
"\e95a");
@include makeIcon(icon-c_5a,
"\e95b");
@include makeIcon(icon-c_5b,
"\e95c");
@include makeIcon(icon-c_6a,
"\e906");
@include makeIcon(icon-c_6b,
"\e907");
@include makeIcon(icon-c_7a,
"\e908");
@include makeIcon(icon-c_7b,
"\e909");
@include makeIcon(icon-c_8a,
"\e90a");
@include makeIcon(icon-c_8b,
"\e90b");
@include makeIcon(icon-c_9a,
"\e90c");
@include makeIcon(icon-c_9b,
"\e90d");
@include makeIcon(icon-c_10a,
"\e90e");
@include makeIcon(icon-c_10b,
"\e90f");
@include makeIcon(icon-c_11a,
"\e95d");
@include makeIcon(icon-c_11b,
"\e95e");
@include makeIcon(icon-c_12a,
"\e963");
@include makeIcon(icon-c_12b,
"\e964");
@include makeIcon(icon-c_13a,
"\e910");
@include makeIcon(icon-c_13b,
"\e911");
@include makeIcon(icon-c_14a,
"\e912");
@include makeIcon(icon-c_14b,
"\e913");
@include makeIcon(icon-c_15a,
"\e914");
@include makeIcon(icon-c_15b,
"\e915");
@include makeIcon(icon-c_16a,
"\e916");
@include makeIcon(icon-c_16b,
"\e917");
@include makeIcon(icon-c_17a,
"\e918");
@include makeIcon(icon-c_17b,
"\e919");
@include makeIcon(icon-c_18a,
"\e91a");
@include makeIcon(icon-c_18b,
"\e91b");
@include makeIcon(icon-c_19a,
"\e95f");
@include makeIcon(icon-c_19b,
"\e960");
@include makeIcon(icon-c_20a,
"\e91c");
@include makeIcon(icon-c_20b,
"\e91d");
@include makeIcon(icon-c_21a,
"\e965");
@include makeIcon(icon-c_21b,
"\e966");
@include makeIcon(icon-c_22a,
"\e967");
@include makeIcon(icon-c_22b,
"\e968");
@include makeIcon(icon-c_23a,
"\e91e");
@include makeIcon(icon-c_23b,
"\e91f");
@include makeIcon(icon-c_24a,
"\e969");
@include makeIcon(icon-c_24b,
"\e96a");
@include makeIcon(icon-c_25a,
"\e920");
@include makeIcon(icon-c_25b,
"\e921");
@include makeIcon(icon-c_26a,
"\e96b");
@include makeIcon(icon-c_26b,
"\e96c");
@include makeIcon(icon-c_27a,
"\e96d");
@include makeIcon(icon-c_27b,
"\e96e");
@include makeIcon(icon-c_28a,
"\e96f");
@include makeIcon(icon-c_28b,
"\e970");
@include makeIcon(icon-c_29a,
"\e971");
@include makeIcon(icon-c_29b,
"\e972");
@include makeIcon(icon-c_30a,
"\e973");
@include makeIcon(icon-c_30b,
"\e922");
@include makeIcon(icon-freetime,
"\e924");
@include makeIcon(icon-add,
"\e925");
@include makeIcon(icon-alarm,
"\e926");
@include makeIcon(icon-arrow-up,
"\e927");
@include makeIcon(icon-back,
"\e928");
@include makeIcon(icon-calories,
"\e929");
@include makeIcon(icon-cardio,
"\e92a");
@include makeIcon(icon-delete,
"\e92b");
@include makeIcon(icon-edit,
"\e92d");
@include makeIcon(icon-faq,
"\e92f");
@include makeIcon(icon-facebook,
"\e92e");
@include makeIcon(icon-height,
"\e930");
@include makeIcon(icon-pause,
"\e931");
@include makeIcon(icon-question,
"\e932");
@include makeIcon(icon-setting,
"\e933");
@include makeIcon(icon-setup,
"\e934");
@include makeIcon(icon-sound,
"\e935");
@include makeIcon(icon-star,
"\e936");
@include makeIcon(icon-tick-1,
"\e937");
@include makeIcon(icon-tick-2,
"\e938");
@include makeIcon(icon-time,
"\e939");
@include makeIcon(icon-vibration,
"\e93a");
@include makeIcon(icon-weight,
"\e93b");
@include makeIcon(icon-yoga,
"\e961");
@include makeIcon(icon-google,
"\e93c");
@include makeIcon(icon-y_30,
"\e93d");
@include makeIcon(icon-y_29,
"\e93e");
@include makeIcon(icon-y_28,
"\e93f");
@include makeIcon(icon-y_27,
"\e940");
@include makeIcon(icon-y_26,
"\e941");
@include makeIcon(icon-y_25,
"\e942");
@include makeIcon(icon-y_24,
"\e943");
@include makeIcon(icon-y_23,
"\e944");
@include makeIcon(icon-y_22,
"\e945");
@include makeIcon(icon-y_21,
"\e946");
@include makeIcon(icon-y_20,
"\e947");
@include makeIcon(icon-y_19,
"\e948");
@include makeIcon(icon-y_18,
"\e949");
@include makeIcon(icon-y_17,
"\e94a");
@include makeIcon(icon-y_16,
"\e94b");
@include makeIcon(icon-y_15,
"\e94c");
@include makeIcon(icon-y_14,
"\e94d");
@include makeIcon(icon-y_13,
"\e962");
@include makeIcon(icon-y_12,
"\e94e");
@include makeIcon(icon-y_11,
"\e94f");
@include makeIcon(icon-y_10,
"\e950");
@include makeIcon(icon-y_8,
"\e951");
@include makeIcon(icon-y_9,
"\e952");
@include makeIcon(icon-y_7,
"\e953");
@include makeIcon(icon-y_6,
"\e954");
@include makeIcon(icon-y_5,
"\e955");
@include makeIcon(icon-y_4,
"\e956");
@include makeIcon(icon-y_3,
"\e957");
@include makeIcon(icon-y_2,
"\e958");
@include makeIcon(icon-y_1,
"\e923");

