<ion-header >
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only navPop>
        <ion-icon name="workout-icon-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{language.title}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="goToFAQ()">
        <ion-icon name="workout-icon-faq"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <!-- tabbar -->
  <div class="tabbar-top">
    <div class="block-item selected" *ngFor="let item of items; let i = index" (click)="selectTab(i)" [class.comingsoon]="i==2 && tabIndex !=2 " [class.selected]="i==tabIndex"
      tappable>
      <div class="circle a3-container-center">
        <ion-icon [name]="item.icon" [style.color]="item.color"></ion-icon>
      </div>
      <div class="name normal-font" [class.comingsoon]="i==2">{{item.name}}</div>
    </div>
  </div>

</ion-header>
<ion-content no-bounce>
  <!-- <div class="padding-content"> -->
  <!-- coming soon -->
  <div *ngIf="tabIndex == 2" class="coming-soon a3-container-center">
    <div class="icon">
      <ion-icon name="workout-icon-fitness"></ion-icon>
    </div>
    <div class="description color-white" text-center><span>{{language.comingsoon}}</span></div>
  </div>
  <!-- exercise -->
  
  <div class="box-container" *ngIf="tabIndex < 2">
    <ion-slides [spaceBetween]="16" (ionSlidePrevStart)="change()" (ionSlideNextStart)="change()">
      <ion-slide *ngFor="let slide of slides">
        <div class="exercise-box" [@fadeInOut]="{value: 'in', params: {delay: i % itemsPerLoad * animationDelayPerItem}}" *ngFor="let item of slide.exerciseFillter ; let i = index" [class.selected]="item.id==exerciseSelected.id"
          (click)="selectExercise(item)" [class.new-box]="item.isNew">
          <!-- top -->
          <ion-row>
            <ion-col col-2 *ngIf="!item.level">
              <div class="a3-container-center circle blue">
                <ion-icon name="{{item.icon}}"></ion-icon>
              </div>
            </ion-col>
            <ion-col col-2 *ngIf="item.id == 'cardiobeginer' || item.id == 'yogabeginer'">
              <div class="a3-container-center circle yellow">
                <ion-icon name="workout-icon-star"></ion-icon>
              </div>
            </ion-col>
            <ion-col col-2 *ngIf="item.id == 'cardiomedium' || item.id == 'yogamedium'">
              <div class="a3-container-center circle yellow small">
                <ion-icon name="workout-icon-star"></ion-icon>
                <ion-icon name="workout-icon-star"></ion-icon>
              </div>
            </ion-col>
            <ion-col col-2 *ngIf="item.id == 'cardiohigh' || item.id == 'yogahigh'">
              <div class="a3-container-center circle yellow small">
                <div text-center>
                  <ion-icon name="workout-icon-star"></ion-icon>
                  <div class="flex">
                    <ion-icon name="workout-icon-star"></ion-icon>
                    <ion-icon name="workout-icon-star"></ion-icon>
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col col-6 text-left>
              <div class="color-white normal-font">{{item.name}} <span class="new-item" *ngIf="item.isNew">new</span></div>
              <div class="color-gray small-font set-reps">{{item.getTotalExercise()}} {{language.set}} - {{item.timer.reps}} {{language.reps}}</div>
            </ion-col>
            <ion-col >
              <div class="flex normal-font justify-content-center">
                <div class="normal-font color-white">
                  <ion-icon name="workout-icon-time"></ion-icon>
                </div>
                <div class="normal-font color-gray text-time">
                  <span>{{item.getTotalTimeString()}}</span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-slide>
    </ion-slides>
    <!-- slide bar -->
    <div class="bottom-container">
      <div class="flex align-items-center justify-content-center">
        <div margin-top margin-bottom text-center class="normal-font">
          <span class="blue-color">{{exerciseFillter.length}}</span>
          <span class="color-gray">/15</span>
        </div>
        <!-- bar -->
        <div margin-left class="animate-bar" [class.hidden]="slides.length < 2">
          <div class="bar-container">
            <div class="bar" *ngFor="let item of slides;let i = index" (click)="translate(i)"></div>
            <div class="bar animate" id="animateBar"></div>
          </div>
        </div>
      </div>
  
      <div class="btn-container flex align-items-center justify-content-center">
        <button margin-right ion-button icon-only round class="btn-toolbar btn-bottom" (click)="deleteExercise()">
          <ion-icon name="workout-icon-delete"></ion-icon>
        </button>
        <button ion-button class="btn-bottom w-60" (click)="startWorkout()">{{language.startworkout}}</button>
        <button margin-left ion-button icon-only round (click)="goToCreateExercise()" class="btn-toolbar btn-bottom">
          <ion-icon name="workout-icon-add"></ion-icon>
        </button>
      </div>
    </div>

  </div>
  <!-- </div> -->
</ion-content>
