page-new-exercise {
  // @media (min-width: 375px) {
  //   .exercise-box {
  //     min-height: 80px !important;
  //   }
  // }
  ion-content.content {
    background: #232F4F;
  }
  .toolbar-background {
    background: #2D3E66 !important;
  }
  .background-color {
    background: #2D3E66;
  }
  .toolbar-content {
    text-align: center;
  }
  .btn-container {
    padding: 1.2rem 0;
  }
  .tabbar-top {
    white-space: nowrap;
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 1rem; // background: transparent;
    background: #2D3E66 !important;
    .block-item {
      text-align: center;
      min-width: 33.333333333%;
      padding: 1rem 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: rgba($color: white, $alpha: .6); // background: #2D3E66;
      &.comingsoon{
        background: rgba($color: #232F4F, $alpha: .4);
      }
      .circle {
        height: 40px;
        width: 40px;
        background: rgba($color: white, $alpha: .1);
        margin: auto;
      }
      .name {
        margin-top: .3rem;
        font-size: 1.4rem;
        &.comingsoon {
          font-style: italic;
        }
      }
      &.selected {
        background: #232F4F; // background: #2D3E66;
        color: white;
      }
    }
  }
  .btn-more {
    text-align: right;
    button {
      background: transparent;
      color: white;
      font-size: 1.6rem;
      box-shadow: none;
    }
  }
  .padding-content {
    height: 100%;
  }
  .box-background {
    background: #232F4F;
  }
  .box-container {
    // height: 100%;
    // overflow: scroll;
    padding: 1rem; // border-top: 2px solid rgba($color: map-get($map: $appColors, $key: blue), $alpha: .2);
    background: #232F4F; // border-bottom: 2px solid rgba($color: map-get($map: $appColors, $key: blue), $alpha: .2);
    .swiper-slide {
      display: block;
    }
    .exercise-box {
      min-height: 70px;
      position: relative;
      &.selected {
        border: 1px solid map-get($map: $appColors, $key: blue);
      }
      &.new-box{
        background: rgba($color: #1CD3FF, $alpha: .23);
      }
      .new-item{
        background-color: red;
        color: white;
        padding: .3rem 1rem;
        border-radius: 10px;
        font-size: 1rem;
        position: absolute;
        right: -1rem;
        top: .6rem;
      }
      .set-reps{
        margin-top: .4rem;
      }
      .circle {
        height: 40px;
        width: 40px;
        font-size: 1rem;
        background: rgba($color: white, $alpha: .1);
        &.small {
          font-size: .8rem;
        }
        &.yellow {
          color: #FFCC00;
        }
        &.blue {
          color: map-get($map: $appColors, $key: blue);
        }
      }
    }
  }
  .margin-top-left {
    margin: 1rem 0;
  }
  .btn-toolbar {
    font-size: 1rem;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: none;
  }
  .exercise-box {
    margin: .2rem 0;
  }
  .animate-bar {
    // width: 80%;
    .bar-container {
      .bar {
        padding: 0;
        height: 8px;
        width: 60px;
        &.animate {
          left: 0;
          top: 0;
          height: 8px;
        }
      }
    }
  }
}