page-loading {
    ion-content{
        background-image: url("../assets/imgs/splash.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    }
}
